<label class="visually-hidden" for="skills-filter">Search skills</label>
<span class="search"><input id="skills-filter" type="search" placeholder="Search" data-filter="skills-list" data-filter-mode="text" autocomplete="off"></span>
