{% from "macros/window.njk" import window with context %}
{% call window({ id: "life", title: "Off the clock", tools: "life" }) %}
  <ul class="shelf" id="life-list">
    {%- for item in desk.life %}
    <li class="shelf__item" data-filter-item data-tags="{{ item.category }}">
      <a class="shelf__link" href="/life/{{ item.slug }}/" data-open-article="life-{{ item.slug }}" data-search="{{ item.title }}" data-kind="Off the clock" data-detail="{{ item.caption }}">
        <img class="shelf__poster" src="{{ item.poster }}" width="400" height="600" alt="" draggable="false">
        <span class="visually-hidden">{{ item.title }}: {{ item.caption }}</span>
      </a>
    </li>
    {%- endfor %}
  </ul>
  <p class="list__empty" data-filter-empty hidden>Nothing here yet.</p>
{% endcall %}
