<svg class="icon icon--disclosure" viewBox="0 0 12 12" aria-hidden="true" focusable="false"><path d="M2.2 3.6h7.6a.6.6 0 0 1 .5.95L6.5 9.3a.6.6 0 0 1-1 0L1.7 4.55a.6.6 0 0 1 .5-.95z" fill="currentColor"/></svg>
