<header class="menubar">
  <a class="menubar__brand" href="/">{% include "icons/logo.njk" %}<span>{{ site.name }}</span></a>
  <div class="menubar__right">
    <button class="menubar__search" type="button" data-open-palette aria-label="Search" aria-keyshortcuts="Meta+K Control+K" hidden>{% include "icons/search.njk" %}</button>
    <time class="menubar__clock" data-clock hidden></time>
  </div>
</header>
